<%- include("../user/layouts/header") %>
    <div class="container">
        <%- include("../user/layouts/profileHeader") %>
        <section class="content-main">
            <div class="content-header">
                <% if(locals.message){ %>
                    <div class="alert-success p-4"> <%= message %></div>
                    <% } %>
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p> Order ID: <%= order.orderId %></p>
                </div>
            </div>
            <div class="card">
                <header class="card-header col-sm-12">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span> <i class="material-symbols-outlined">calendar_month</i> <b><%= new Date(order.createdAt) %></b>
                            </span> <br />
                           
                        </div>
                     
                    </div>
                </header>
                <!-- card-header end// -->
                <div class="card-body col-sm-12">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-sm-6">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Delivery Address</h6>
                                    <p class="mb-1"><%= order.deliveryAddress %></p>

                                </div>
                            </article>
                        </div>
                        <!-- col// -->
                        <div class="col-sm-6" >
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">status: <%= order.status %></p>
                                    <p class="mb-1">Payment Method: <%= order.paymentMethod %></p>
                                </div>
                            </article>
                        </div>
                        <!-- col// -->
                        <!-- <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        City: Tashkent, Uzbekistan <br />Block A, House 123, Floor 2 <br />
                                        Po Box 10000
                                    </p>
                                    <a href="#">View profile</a>
                                </div>
                            </article>
                        </div> -->
                        <!-- col// -->
                    </div>
                    <!-- row // -->
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="table-responsive">
                                <table class="table table-hover table-active">
                                    <thead>
                                        <tr>
                                            <th width="40%">Products</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% order.products.forEach(product=>{%>
                                        <tr>
                                            <td>
                                                <a class="itemside" href="/single-product/<%= product.productId._id %>">
                                                    <span class="left">
                                                        <img src="<%= product.productId.productImages[0] %>" width="40" height="40"
                                                            class="img-xs" alt="Item" />
                                                    </span>
                                                    <span class="info text-danger"><%= product.productId.productName %></span>
                                                </a>
                                            </td>
                                            <td><%= product.productId.price %></td>
                                            <td><%= product.quantity %></td>
                                            <td class="text-end"><%= product.quantity * product.price %></td>
                                        </tr>
                                        <% }) %>
                                        <tr>
                                            <td><h4>Subtotal:</h4> &#x20B9; <%= order.totalPrice %></td>
                                           
                                            
                                            <!-- <td colspan="4">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd>&#x20B9; <%= order.totalPrice %></dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>&#x20B9; 0:00</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd>&#x20B9; <%= order.totalPrice %></dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Status:</dt>
                                                        <dd>
                                                            <span
                                                                class="badge rounded-pill alert-success text-success">Payment
                                                                done</span>
                                                        </dd>
                                                    </dl>
                                                </article>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                                
                                <% if(order.status == 'Pending'){ %>
                                <div><small><a onclick="cancelOrderForm()" style="cursor: pointer;" >Cancel this order</a></small></div>
                                <div hidden id="cancelOrderForm">
                                    <form action="/cancel-order/<%= order._id %>" method="post">
                                        <p>Do you really want to cancel this order? Please specify the reason.</p>
                                        <div><textarea name="cancellationReason" id="" cols="50" rows="5"></textarea></div>
                                        <input type="submit" class="btn btn-danger" value="Cancel order">
                                    </form>
                                </div>
                                <% } %>
                            </div>
                           <!-- Modal -->
                         

                            <!-- table-responsive// -->
                        </div>
                        <!-- col// -->
                        <!-- <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <div class="box shadow-sm bg-light">
                                <h6 class="mb-15">Payment info</h6>
                                <p>
                                    <img src="assets/imgs/card-brands/2.png" class="border" height="20" /> Master Card
                                    **** **** 4768 <br />
                                    Business name: Grand Market LLC <br />
                                    Phone: +1 (800) 555-154-52
                                </p>
                            </div>
                            <div class="h-25 pt-4">
                                <div class="mb-3">
                                    <label>Notes</label>
                                    <textarea class="form-control" name="notes" id="notes"
                                        placeholder="Type some note"></textarea>
                                </div>
                                <button class="btn btn-primary">Save note</button>
                            </div>
                        </div> -->
                        <!-- col// -->
                    </div>
                </div>
                <!-- card-body end// -->
            </div>
            <!-- card end// -->
        </section>
    </div>
    <script>
        function cancelOrderForm(){
            $("#cancelOrderForm").toggle()
        }
    </script>
    
    <%- include("../user/layouts/footer") %>

        </body>

        </html>